extends scaffold_dev

block content
  div(class="mt-5")
    p(style="font-size:50px") &#x2714
      div(class="row align-items-center h-100")
        div(class="col-md-6 mx-auto")
          div(class="mb-4")
            div(class="alert alert-success") Your experiment "#{experiment_name}" was submitted successfully.
    div(class="responsive-width")
      button(class="btn btn-primary btn-lg btn-block entry button my-3" id="dl-button") Download Results
      button(class="btn btn-primary btn-lg btn-block entry button my-3" onclick=`location.href='export?name=${experiment_name}'` ) Export experiment
      button(class="btn btn-primary btn-lg btn-block entry button my-3" onclick=`location.href='/exp/${experiment_name}/index.html'` ) Restart
      button(class="btn btn-primary btn-lg btn-block entry button my-3" onclick="location.href='/'" ) Back
      a(id="dl-helper" style="display:none")
  script.
    console.log(JSON.stringify(!{json}));
    document.getElementById('dl-button').addEventListener('click', (e) => {
      const dataStr = "data:text/json;charset=utf-8," + !{json};
      var dlHelper = document.getElementById('dl-helper');
      dlHelper.setAttribute("href",     dataStr);
      dlHelper.setAttribute("download", "psyweboslo_#{experiment_name}.json");
      dlHelper.click();
    });
