doctype html
html(lang='en')
  head
    title #{ env.BRANDSTR_SHORT }
    meta(charset='utf-8')
    link(rel="stylesheet" href="css/bootstrap.min.css" type="text/css")
    link(rel="stylesheet" href="css/main.css" type="text/css")
    link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
      a(class="navbar-brand" href="/") #{ env.BRANDSTR_LONG }
      ul.navbar-nav.ml-auto
        if (logged_in)
          li
            a(href="/admin")
              span.glyphicon.glyphicon-log-in Admin
          li.ml-3
            a(href="/logout")
              span.glyphicon.glyphicon-log-in Logout
        else
          li
            a(href="/login")
              span.glyphicon.glyphicon-log-in Login
      
    div(class="container text-center")
      div(class="text-center d-flex h-100 p-3 mx-auto flex-column"  style="max-width: 42em;")
        div(class="row mt-4")
          div(class="col-sm-6  mt-3")
            a(href="https://www.fhi.no")
              img(src="img/logo_fhi.png" style="width: 207; height: 42px;")
          div(class="col-sm-6  mt-3")
            a(href="https://www.sv.uio.no/psi/")
              img(src="img/logo_psi.png" style="width: 302px; height: 42px;")
      block content
    footer(class="page-footer font-small blue mt-5")
      .footer-copyright.text-center.py-3 
        a(href=`https://${env.WEBSERVERHOSTNAME}`) #{ env.WEBSERVERHOSTNAME } 
        span &copy; 2020